@{
    ViewData["Title"] = "Home Page";
}

<svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99 56">
    <title>Images</title>

</svg>

@section scripts{

    <script type="text/javascript">

        var maximumColumns = 19;
        var maximumRows = 13;
        var distanceBox = 3.05;

        var wallColor = "#424242";
        var walkColor = "#DCEDC8";

        var paper = Snap("#svg");

        for (var column = 0; column < maximumColumns; column++) {
            var rectX = column * distanceBox;

            for (var row = 0; row < maximumRows; row++) {
                var rectY = row * distanceBox;

                var rect = paper.rect(rectX, rectY, 3, 3)
                    .attr("id", "R" + row + "C" + column)
                    .attr("fill", walkColor)
                    .attr("data-row", row)
                    .attr("data-column", column)
                    .attr("data-is-wall", false);

                rect.click(function () {
                    var isWall = this.attr("data-is-wall");
                    var row = this.attr("data-row");
                    var column = this.attr("data-column");

                    if ("true" == isWall) {
                        this.attr("fill", walkColor);
                        this.attr("data-is-wall", false);
                        removeWall(row, column);
                    }
                    else {
                        this.attr("fill", wallColor);
                        this.attr("data-is-wall", true);
                        saveWall(row, column);
                    }

                });
            }
        }

        function saveWall(row, column) {
            var url = "@Url.Action("SaveWall", "Template")";
            $.post(url, { templateId: 1, row: row, column: column })
                .done(function (data) {
                   
                });
        }

        function removeWall(row, column) {
            var url = "@Url.Action("RemoveWall", "Template")";
            $.post(url, { templateId: 1, row: row, column: column })
                .done(function (data) {

                });
        }

    </script>

}